/* START PRELOADER */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #56829e;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* END PRELOADER */

html,
body {
  margin: 0;
  padding: 0;
}

#map {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#selectContainer {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 11px 0;
}

#countrySelect {
  width: 200px;
  margin: 0 auto;
}

#news-links-list img {
  max-width: 100%;
}

/* Weather modal styles */
#current-weather {
  text-align: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px rgb(198, 198, 198) solid;
}

#current-summary {
  text-align: center;
}
  
#current-weather .weather-temp {
  font-size: 1.5rem;
}

#current-weather .weather-location {
  font-size: 0.8rem;
  color: #3e3e3e;
}

.weather-desc {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
  
.forecast-weather-tile {
  text-align: center;
  padding-bottom: 1rem;
}

.forecast-weather-tile:nth-last-child(-n+3) {
  border-left: 1px rgb(198, 198, 198) solid;
}

.forecast-weather-tile .weather-time {
  font-weight: bold;
}

.forecast-weather-tile .weather-temp {
  padding-bottom: 0.5rem;
}